<div class="container py-4">
    {{#if cart.products.length}}
    <h2>Productos en el Carrito</h2>
    <div class="row">
        {{#each cart.products}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{this.product.title}}</h5>
                    <p class="card-text">Cantidad: {{this.quantity}}</p>
                    <p class="card-text">Precio: ${{this.product.price}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="alert alert-info">
        No hay productos en el carrito
    </div>
    {{/if}}
</div>