<div class="container py-5">
    <h1 class="text-center mb-5">Gestión de Productos en Tiempo Real</h1>

    <div class="row mb-5">
        <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h2 class="h5 mb-0">Agregar Nuevo Producto</h2>
                </div>
                <div class="card-body">
                    <form id="productForm">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="title" placeholder="Producto" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="description" placeholder="Descripción"
                                required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="code" placeholder="Código" required>
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="price" placeholder="Precio" required>
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="stock" placeholder="Stock" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="category" placeholder="Categoría" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="thumbnails" placeholder="Thumbnails" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Agregar Producto</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h2 class="h5 mb-0">Eliminar Productos</h2>
                </div>
                <div class="card-body">
                    <form id="deleteForm">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="pid" placeholder="ID del Producto" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Eliminar Producto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow h-100">
                <div class="card-header bg-primary text-white">
                    <h2 class="h5 mb-0">Productos Existentes</h2>
                </div>
                <div class="card-body">
                    <div id="productList" class="list-group list-group-flush">
                        {{#each products}}
                        <div class="list-group-item">
                            <span>{{this.title}} - ID: {{this._id}}</span>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow h-100">
                <div class="card-header bg-success text-white">
                    <h2 class="h5 mb-0">Productos Agregados</h2>
                </div>
                <div class="card-body">
                    <ul id="productAddedList" class="list-group list-group-flush"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow h-100">
                <div class="card-header bg-danger text-white">
                    <h2 class="h5 mb-0">Productos Eliminados</h2>
                </div>
                <div class="card-body">
                    <ul id="productDeletedList" class="list-group list-group-flush"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>

<script type="module">
    import { io } from 'https://cdn.socket.io/4.7.5/socket.io.esm.min.js';
    const socketClient = io("http://localhost:5050");
    const productList = document.getElementById('productList');
    const productAddedList = document.getElementById('productAddedList');
    const productDeletedList = document.getElementById('productDeletedList');
    const productForm = document.getElementById('productForm');
    const deleteForm = document.getElementById('deleteForm');

    // Eventos de Socket.IO
    socketClient.on('products', data => {
        console.log("Recibido evento de productos");
        updateProductList(data);
    });

    socketClient.on('add_product', data => {
        console.log("Recibido evento de nuevo producto");
        addProductToAddedList(data);
    });

    socketClient.on('delete_product', data => {

        addProductToDeletedList(data);
    });

    socketClient.on('error', data => {
        console.error('Error:', data.message, data.details || '');
    });

    // Funciones de actualización del DOM
    function updateProductList(products) {
        productList.innerHTML = '';
        products.forEach(product => {
            productList.innerHTML += `
                <div class="list-group-item">
                    <span>${product.title} - ID: ${product._id}</span>
                </div>
            `;
        });
    }

    function addProductToAddedList(product) {
        productAddedList.innerHTML += `
            <li class="list-group-item">
                <span>${product.title} - ID: ${product._id}</span>
            </li>
        `;
    }

    function addProductToDeletedList(product) {
        productDeletedList.innerHTML += `
            <li class="list-group-item">
                <span>${product.title} - ID: ${product.id}</span>
            </li>
        `;
    }

    // Manejador del formulario de agregar producto
    productForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const productData = {
            title: formData.get('title'),
            description: formData.get('description'),
            code: formData.get('code'),
            price: Number(formData.get('price')),
            stock: Number(formData.get('stock')),
            category: formData.get('category'),
            thumbnails: formData.get('thumbnails')
        };

        socketClient.emit('new_product', productData);
        e.target.reset();
    });


    // Manejador del formulario de eliminar producto
    deleteForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const productId = formData.get('pid');
        socketClient.emit('delete_product', productId);
        e.target.reset();

    });
</script>